.feature-section {
  padding: 64px 0;
  background-color: #faf4f4;
}

.feature-row {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.feature-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.feature-card {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.product-img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}


.view-btn {
  border: none;
  color: #111;
  font-weight: 600;
  padding: 0 0 4px 0;
  display: block;
  border-bottom: 2px solid #000;
  background-color: transparent;
}

/* Responsive */
@media (max-width: 767px) {
  .col-md-5 {
    width: 100%;
    margin: 10px 0 !important;
  }
}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 576px) {}