<section class="feature-section">
  <div class="container">
    <div class="row feature-row gx-0">
      <!-- Card 1 -->
      <div class="feature-card">
        <img src="assets/images/sideStool.svg" alt="Modern Sofa" class="product-img" />
        <h3>Modern Sofa</h3>
        <button class="view-btn" [routerLink]="['/shop']">View More</button>
      </div>
      <div class=" feature-card">
        <img src="assets/images/sideShofa.svg" alt="Side Table" class="product-img" />
        <h3>Modern Sofa</h3>
        <button class="view-btn" [routerLink]="['/shop']">View More</button>
      </div>
    </div>
  </div>
</section>