<section class="feature-section py-5">
  <div class="container">
    <div class="row g-0">
      <!-- Card 1 -->
      <div class="feature-card">
        <img src="assets/images/sideStool.svg" alt="Modern Sofa" class="product-img" />
        <h3>Modern Sofa</h3>
        <button class="view-btn">View More</button>
      </div>
      <!-- Card 2 -->
      <div class=" feature-card">
        <img src="assets/images/sideShofa.svg" alt="Side Table" class="product-img" />
        <h3>Side Table</h3>
        <button class="view-btn">View More</button>
      </div>
    </div>
  </div>
</section>