.feature-section {
  background-color: #faf4f4;
}

.feature-card {
  /* background-color: #fff; */
  /* border-radius: 10px; */
  /* padding: 30px; */
  /* text-align: left; */
  /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08); */
}


.product-img {
  width: 100%;
  height: 250px;
  /* object-fit: cover; */
  border-radius: 8px;
  margin-bottom: 20px;
}

.feature-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

.view-btn {
  border: none;
  color: #111;
  font-weight: 600;
  padding: 0 0 4px 0;
  display: block;
  border-bottom: 2px solid #000;
  background-color: transparent;
}

/* Responsive */
@media (max-width: 767px) {
  .col-md-5 {
    width: 100%;
    margin: 10px 0 !important;
  }

  .product-img {
    height: 200px;
  }
}
