<section class="product-section">
  <div class="container">
    <div class="product-grid">
      <div class="product-card" *ngFor="let product of products" (click)="goToDetail(product.id)">

        <div class="wishlist-icon" (click)="toggleWishlist(product)">
          <i [ngClass]="isInWishlist(product) ? 'bi-heart-fill active' : 'bi-heart'"></i>
        </div>

        <div class="product-image">
          <img [src]="product.image" [alt]="product.title">

          <div class="offer-badge" *ngIf="product.discount > 0">
            -{{ product.discount }}%
          </div>
        </div>

        <div class="product-info">

          <h4 class="title">{{ product.title }}</h4>

          <p class="description">
            {{ product.description }}
          </p>

          <div class="rating">
            <i *ngFor="let star of getStars(); let i = index" class="fa-star" [class.filled]="i < product.rating"
              [class.fa-solid]="i < product.rating" [class.fa-regular]="i >= product.rating"></i>
          </div>

          <div class="price-box">
            <span class="new-price">
              ${{ getDiscountedPrice(product.price, product.discount) }}
            </span>

            <span class="old-price" *ngIf="product.discount > 0">
              ${{ product.price }}
            </span>
          </div>

          <button class="add-cart-btn" (click)="addToCart(product)">
            Add to Cart
          </button>
        </div>

      </div>
    </div>
  </div>
</section>