<section class="furniture-banner">
    <div class="container">
        <div class="banner-wrapper">
            <div class="banner-image">
                <img src="assets/images/new-arrival.svg" alt="New Arrivals" />
            </div>
            <div class="banner-content">
                <p class="new-arrivals">New Arrivals</p>
                <h2>Experience the Comfort of Sofa.</h2>
                <p class="banner-subtext">
                    Crafted with elegance and designed for your living space — luxury meets relaxation.
                </p>
                <button class="order-btn btn-animated" routerLink="/shop">Order Now</button>
            </div>
        </div>
    </div>
</section>