<section class="not-found-page">
  <div class="page_404">
    <div class="container">
      <div class="content-wrapper text-center">
        <div class="four_zero_four_bg">
          <h1>404</h1>
        </div>
        <div class="content_box_404">
          <h3>Looks like you're lost</h3>
          <p>The page you are looking for is not available!</p>
          <button class="link_404 btn-animated " (click)="goHome()">Go to Home</button>
        </div>
      </div>
    </div>
  </div>
</section>
