.instagram-banner {
  position: relative;
  width: 100%;
  height: 450px;
  background: url("../../../assets/images/OurInstagram.png") center center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  font-family: "Poppins", sans-serif;
}


.overlay-content h2 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 8px;
}

.overlay-content p {
  font-size: 20px;
  color: #000000;
  margin-bottom: 25px;
}

.follow-btn {
  background-color: #FAF4F4;
  border: none;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  padding: 12px 40px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 20px 20px 0px #0000001A;

}

@media (max-width: 1024px) {
  .overlay-content h2 {
    font-size: 56px;
  }
}

@media (max-width: 991px) {
  .overlay-content h2 {
    font-size: 46px;
  }
}

@media (max-width: 768px) {}


@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
  .instagram-banner {
    height: 350px;
  }

  .overlay-content h2 {
    font-size: 42px;
  }

  .overlay-content p{
    font-size: 18px;
    margin-bottom: 20px;
  }

  .follow-btn {
    padding: 10px 30px;
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .overlay-content h2 {
    font-size: 36px;
  }
   .overlay-content p{
    font-size: 16px;
    margin-bottom: 18px;
  }

   .follow-btn {
    padding: 10px 30px;
    font-size: 16px;

  }
}