<section class="our-blog-section">
    <div class="container">
        <!-- Section Header -->
        <div class="section-header">
            <h2 class="section-title">Our Blogs</h2>
            <p class="section-subtitle">
                Find a bright idea to suit your taste with our great selection
            </p>
        </div>

        <!-- Blog Grid -->
        <div class="row g-4 gx-0 justify-between ">
            <div class="col-lg-4 col-md-6 col-sm-6 " *ngFor="let blog of blogs">
                <div class="card border-0">
                    <div class="image-wrapper">
                        <img [src]="blog.img" alt="blog image" />
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ blog.title }}</h5>
                        <a href="#" class="read-more-link">Read More →</a>
                        <div
                            class="card-footer bg-transparent border-0 d-flex justify-content-center align-items-center gap-3">
                            <span><i class="bi bi-clock"></i> {{ blog.time }}</span>
                            <span> <i class="bi bi-clock"></i>{{ blog.date }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button routerLink="/blog" class="btn btn-animated view-all">View All Posts</button>
        </div>
    </div>
</section>