.categories h3 {
    margin: 0 0 32px 0;
}

.categories ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0;
}

.categories {
    padding: 42px;
}
.categories ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #9F9F9F;
    text-decoration: none;
    margin: 0;
}
.search-box {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.search-box input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  transition: all 0.3s ease;
  outline: none;
}

.search-box input:focus {
  border-color: #ffce00;
  box-shadow: #ffce00;
}

.search-box .search-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease;
}

.search-box .search-btn:hover {
  color: #ffce00;
}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 576px) {}