.contact-section .container {
  padding: 70px 0;
}

.header {
  text-align: center;
  margin-bottom: 76px;
}

.header h2 {
  font-size: 36px;
  font-weight: 600;
  color: #000000;
  margin: 0 0 16px 0;
}

.header p {
  color: #9F9F9F;
  font-size: 16px;
  margin: 0 auto;
  max-width: 644px;
  width: 100%;
}

.contact-info {
  max-width: 537px;
  width: 100%;
  margin: 0 auto;
}

.contact-info .info-item:last-child {
  margin-bottom: 0;
}


.contact-content {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.contact-info .info-item {
  display: flex;
  gap: 30px;
  margin-bottom: 45px;
}

.contact-info i {
  font-size: 24px;
  color: #000;
}

.detail-container {
  max-width: 212px;
  width: 100%;
  margin: 0;
}

.detail-container h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}

.detail-container p {
  color: #666;
  font-size: 14px;
  line-height: 1.6;
  max-width: 212px;
  margin: 0;
}

.contact-form {
  max-width: 530px;
  width: 100%;
  margin: 0 auto;
}

.contact-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

.contact-form label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #000000;
}

.contact-form input,
.contact-form textarea {
  /* padding: 20px; */
  font-size: 16px;
  width: 100%;
  outline: none;
  transition: all 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #000;
}

.submit-btn {
  padding: 13px 24px;
  max-width: 250px;
  width: 100%;
  border: 1px solid #000;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

.submit-btn:hover {
  background: #000;
  color: #fff;
}

.service-card {
  max-width: 337px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1366px) {
  .header {
    text-align: center;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 1024px) {
  .contact-section .container {
    padding: 56px 0;
  }

  .header h2 {
    font-size: 32px;
  }

  .header {
    text-align: center;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 991px) {
  .header {
    text-align: center;
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .contact-section .container {
    padding: 42px 0;
  }

  .card-contaiiner {
    gap: 48px;
    flex-wrap: wrap;
  }

  .contact-content[_ngcontent-ng-c1310371986] {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .header h2 {
    font-size: 32px;
  }

  .contact-content {
    flex-direction: column;
  }

  .header {
    text-align: center;
    margin-bottom: 46px;
  }

  .contact-info .info-item {
    margin-bottom: 36px;
  }

  .contact-info .info-item {
    display: flex;
    gap: 24px;
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 576px) {
  .contact-section .container {
    padding: 42px 0;
  }

  .header h2 {
    font-size: 30px;
  }

  .header {
    text-align: center;
    margin-bottom: 42px;
  }
}

h2 i {
  font-style: normal;
  background: #fff;
  position: relative;
  padding: 10px;
}

:focus {
  outline: none;
}

input[type="text"] {
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

:focus {
  outline: none;
}

.effect {
  position: relative;
}

input[type="text"] {
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}


.input-effect {
  border: 0;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}

.input-effect~.focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: 0.4s;
}

.input-effect:focus~.focus-border,
.has-content.input-effect~.focus-border {
  width: 100%;
  transition: 0.4s;
}

.input-effect~label {
  position: absolute;
  left: 0;
  width: 100%;
  top: 9px;
  color: #aaa;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}

.input-effect:focus~label,
.has-content.input-effect~label {
  top: -16px;
  font-size: 12px;
  color: #000000;
  transition: 0.3s;
}


/* #00363a 
rgba(48,64,77,0.8)
*/