.contact-section .container {
  padding: 70px 0;
}

.header {
  text-align: center;
  margin-bottom: 76px;
}

.header h2 {
  font-size: 36px;
  font-weight: 600;
  color: #000000;
  margin: 0 0 6px 0;
}

.header p {
  color: #9F9F9F;
  font-size: 16px;
  margin: 0 auto;
  max-width: 644px;
  width: 100%;
}

.contact-info {
  max-width: 537px;
  width: 100%;
  margin: 0 auto;
}

.contact-content {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.contact-info .info-item {
  display: flex;
  gap: 30px;
  margin-bottom: 45px;
}

.contact-info i {
  font-size: 24px;
  color: #000;
}

.detail-container {
  max-width: 212px;
  width: 100%;
  margin: 0;
}

.detail-container h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}

.detail-container p {
  color: #666;
  font-size: 14px;
  line-height: 1.6;
  max-width: 212px;
  margin: 0;
}

.contact-form {
  max-width: 530px;
  width: 100%;
  margin: 0 auto;
}

.contact-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

.contact-form label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #000000;
}

.contact-form input,
.contact-form textarea {
  padding: 20px;
  border: 1px solid #9F9F9F;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  outline: none;
  transition: all 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #000;
}

.submit-btn {
  padding: 13px 24px;
  border: 1px solid #000;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s ease;
}

.submit-btn:hover {
  background: #000;
  color: #fff;
}

.service-card {
  max-width: 337px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1024px) {
  .contact-section .container {
   padding: 56px 0;
  }
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
  .contact-section .container {
     padding: 42px 0;
  }
.card-contaiiner {
    gap: 48px;
    flex-wrap: wrap;
}

  .contact-content[_ngcontent-ng-c1310371986] {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
}

@media screen and (max-width: 576px) {
    .contact-section .container {
    padding: 42px 0;
  }
}