.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.page-btn,
.page-number {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.3s ease;
}

.page-btn:hover:not(:disabled),
.page-number:hover {
  background-color: #f7f7f7;
}

.page-number.active {
  background-color: #FAF4F4;
  border-color: #FAF4F4;
  color: #000;
  font-weight: 600;
}


.page-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}