.feature-products-section {
  padding: 60px 0px;
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.feature-products-section .feature-header {
  text-align: left;
  margin-bottom: 40px;
}

.feature-products-section .feature-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 13px;
  color: #000000;
}

.feature-products-section .feature-detail {
  font-size: 16px;
  color: #9F9F9F;
  max-width: 500px;
  margin: 0;
}

.feature-arrows {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}

.feature-arrows button {
  background-color: #fff;
  border: 1px solid #d1d5db;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-arrows button:hover {
  background-color: #ffcc00;
  border-color: #ffcc00;
  color: #111827;
}

.feature-arrows svg {
  stroke: #111827;
}

.product-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
}

.product-card .image-wrapper {
  width: 100%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  overflow: hidden;
  border-radius: 10px;
}

.product-card .image-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.product-card .image-wrapper:hover img {
  transform: scale(1.1);
  /* zoom effect */
}

/* Info (text) */
.product-card .product-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #000000;
}

.product-card .price {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
}

.swiper-pagination {
  text-align: center;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #d1d5db;
  opacity: 1;
  margin: 0 4px !important;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: #ffcc00;
}

@media (max-width: 768px) {
  .feature-arrows {
    justify-content: center;
    margin-bottom: 15px;
  }

  .product-card .image-wrapper {
    height: 140px;
  }
}

@media (max-width: 480px) {
  .feature-products-section {
    padding: 40px 15px;
  }

  .product-card .image-wrapper {
    height: 120px;
  }
}