.feature-products-section {}

.feature-products-section .container {
  padding: 56px 0;
}

.feature-detail {
  font-size: 16px;
  color: #9F9F9F;
  margin: 0;
}

.feature-header {
  margin-bottom: 24px;
  max-width: 600px;
  width: 100%;
}

.feature-arrows {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: end;
  margin-bottom: 24px;
}

.feature-title {
  font-size: 32px;
  margin-bottom: 8px;
}

.header {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 25px;
}

.header h2 {
  font-size: 28px;
  font-weight: 700;
  color: #222;
  letter-spacing: 0.5px;
}

.custom-arrow {
  background: #f3f3f3;
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-arrow:hover {
  background: #111;
  transform: scale(1.05);
}

.custom-arrow img {
  width: 20px;
  height: 20px;
  filter: invert(0);
  transition: 0.3s;
}

.custom-arrow:hover img {
  filter: invert(1);
}

.swiper {
  overflow: hidden;
  padding-bottom: 20px;
}

.product-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  overflow: hidden;
}

.image-container {
  width: 100%;
  height: 240px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-card:hover .image-container img {}

.product-info {
  padding: 15px 18px;
  text-align: center;
}

.product-info h4 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.product-info p {
  font-size: 16px;
  color: #ff7e29;
  font-weight: 700;
  margin-bottom: 12px;
}

.buy-btn {
  background: #111;
  color: #fff;
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ease;
}

.buy-btn:hover {
  background: #ff7e29;
}

.prev-btn,
.next-btn {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: transparent;
}

.product-title {
  font-size: 16px;
  color: #000000;
  margin-bottom: 12px;
}

.price {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1024px) {
  .feature-products-section .container {
    padding: 42px 46px;
  }
}

@media screen and (max-width: 991px) {}

@media screen and (max-width: 767px) {
  .feature-products-section .container {
    padding: 42px 24px;
  }

  .feature-header {
    margin-bottom: 16px;
  }

  .feature-arrows {
    margin-bottom: 16px;
  }

  .header h2 {
    font-size: 22px;
  }

  .product-card {
    border-radius: 10px;
  }

  .image-container {
    height: 200px;
  }
}

@media screen and (max-width: 576px) {
  .feature-products-section .container {
    padding: 32px 16px;
  }
}