.service-section {
  width: 100%;
  background: #FAF4F4;
}

.service-section .container {
  padding: 96px 0px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: auto;
  gap: 48px;
}

.service-card {
  max-width: 376px;
  width: 100%;
  margin: 0 auto;
}

.service-card h3 {
  font-size: 32px;
  font-weight: 500;
  color: #000;
  margin-bottom: 4px;
}

.service-card p {
  color: #9F9F9F;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}


@media screen and (max-width: 1366px) {
  .service-section .container {
    padding: 72px 0px;
  }
}

@media screen and (max-width: 1024px) {
  .service-section .container {
    padding: 64px 0px;
  }

  .service-card h3 {
    font-size: 24px;
  }

  .card-container {
    gap: 42px;
  }
}

@media screen and (max-width: 991px) {
  .service-section .container {
    padding: 56px 0px;
  }
}

@media screen and (max-width: 767px) {
  .service-section .container {
    padding: 46px 0px;
  }

  .service-card h3 {
    font-size: 20px;
  }

  .service-card p {
    font-size: 16px;
  }

  .card-container {
    gap: 36px;
  }

  .card-container {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 576px) {}